<body>

  <div id="header">
    <div id="rotas">
      <button (click)='irHome()' class="rota">home</button>
      <button (click)='irLoja()' class="rota">loja</button>
      <button class="rota" (click)='irPets()'>pets</button>
      <button (click)='irHorarios()' class="rota">marque um horário</button>
    </div>
  </div>

    <div id="Prod" *ngFor="let item of lista">
      <img id="img" [src]=item.IMG>
      <div id="infoProd">
      <div class="nome">{{item.NOME}}</div>
      <div class="preco">R${{item.PRECO}}</div>
      <div id="quantidade">
      quantidade:
      <select id="qtd" [(ngModel)]="qtd">
        <option *ngFor="let num of quantidade">{{num}}</option>
      </select>
    </div>

    <div id="valorTotal" *ngFor="let item of lista">
      Valor total:<br>
      R$ {{qtd * item.PRECO}}
    </div>

      <div id="btns">
        <button  id="addCarrinho" (click)="add()" aria-label="adicionar ao carrinho">
          <img id="carrinho" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/344/external-shopping-cart-ecommerce-kiranshastry-solid-kiranshastry.png">
        </button>
        <button  id="confirmar">confirmar compra</button>
      </div>
    </div>
    </div>
    
    <div id="lista">
  <div id="produtos">
            <div id="produtinho" *ngFor="let item of lista2"> 
            <div id="nomezinho">{{item.NOME}}</div>
            <div id="infoProds">
            <img id="imgProdutos" [src]=item.IMG>
            <button id="visitar" (click)="comprar(item)">visitar</button> 
          </div>
      </div>
  </div>
    </div>
  </body>
