*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

#header{
    background-color: rgb(26, 26, 26);
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 1s;
    border-bottom: 3px solid rgb(66, 66, 66);
}

#rotas{
    display: flex;
    align-items: center;
}

.rota{
    border: none;
    width: 115px;
    height: 75px;
    font-size: 13px;
    font-weight: 700;
    border: none;
    color: #ffd000;
    background-color: rgb(26, 26, 26);
    justify-content: center;
    align-items: center;
}

.rota:hover{
    color: white;
    border-bottom: white 3px solid;
}

[aria-label]:hover::after {
    display: block;
}

[aria-label]{
    position: relative;
}

[aria-label]::after{
    content: attr(aria-label);
    display: none;
    position: absolute;
    top: 110%;
    left: 0px;
    z-index: 5000;
    pointer-events: none;
    padding: 8px 15px;
    text-decoration: none;
    font-size: .9em;
    color: #fff;
    background-color: #585858;
}

body{
    background-color: #ffd000;
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#img{
    width: 250px;
    height: 370px;
    border-radius: 10px;
}

#Prod{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
    padding: 10px;
    width: 500px;
    height: 370px;
    border-radius: 10px;
}

#infoProd{
    justify-content: center;
    align-items: start;
    height: 100%;
    margin: 10px;
}

#btns{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#addCarrinho{
    transition: 0.3s;
    margin-bottom: 137%;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    background-color: white;
}

#addCarrinho:hover{
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
}

#confirmar{
    transition: 0.3s;
    margin-bottom: 137%;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    width: 145px;
    height: 35px;
    background-color: #ffd000;
}

#confirmar:hover{
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
}

.nome{
    font-size: 20px;
}

.preco{
    font-size: 18px;
    color: rgb(44, 44, 44);
}

#qtd{
    transition: 0.3s;
    border: none;
    width: 60px;
    border-radius: 3px;
    padding: 2px;
}

#qtd:hover{
    transition: 0.3s;
    width: 90px;
    border-radius: 10px;
    padding: 2px;
}

#qtd:focus{
    transition: 0.3s;
    width: 90px;
    border-radius: 10px;
    padding: 2px;
}

#valorTotal{
    height: 64%;
    display: flex;
    align-items: flex-end;
}

#carrinho{
    width: 30px;
    height: 30px;
}

#lista{
    display: flex;
    justify-content: start;
    width: 500px;
    overflow: auto;
    padding: 5px;
    margin-top: -85px;
}

#produtos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista::-webkit-scrollbar {
    transition: 0.3s;
    width: 5px;
    height: 7px;
  }

  #lista:hover::-webkit-scrollbar {
    height: 12px;
    transition: 0.3s;
  }

  #lista::-webkit-scrollbar-track {
    background: rgb(219, 168, 0);
    width: 5px;
  }
  
  #lista::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0); 
    border-radius: 20px;      
    width: 5px;
  }

#produtinho{
    margin-left: 20px;
    display: grid;
    justify-content: center;
    height: 270px;
}

#imgProdutos{
    width: 150px;
    height: 180px;
    transition: 0.3s;
    margin-bottom: 5px;
    border-radius: 10px;
    object-fit: cover;
    padding: 5px;
}

#produtinho:hover #imgProdutos{
    opacity: 75%;
    transition: 0.3s;
    border-radius: 10px;
}

#produtinho:hover #nomezinho{
    color: black;
}

#produtinho:hover #visitar{
    width: 130px;
    height: 40px;
    font-size: 14px;
    transition: 0.3s;
}

#produtinho #visitar:hover{
    border-radius: 30px;
    transition: 0.3s;
}

#visitar{
    font-size: 0;
    width: 0px;
    height: 0px;
    border: none;
    background-color: black;
    color: #ffd000;
    border-radius: 5px;
    transition: 0.1s;
}

#infoProds{
    display: grid;
    width: 180px;
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
}

#produtinho:hover #infoProds{
    transition: 0.3s;
    height: 275px;
}

#nomezinho{
    align-items: center;
    color: transparent;
}