<!DOCTYPE html>
<html>

  <div id="header">
    <div id="rotas">
      <button (click)='irHome()' class="rota">home</button>
      <button class="rota">loja</button>
      <button (click)='irCarrinho()' class="rota">carrinho</button>
      <button class="rota" (click)='irPets()'>pets</button>
      <button (click)='irHorarios()' class="rota">marque um horário</button>
    </div>
  </div>

<body>
  <div id="produtos">
    cadadastro de produtos:
    <input class="nome" placeholder="nome do produto" [(ngModel)]="nome">
    <input class="preco" placeholder="preco" type="number" [(ngModel)]="preco">
    <input class="file" type="file" [(ngModel)]="img"
    (change)="mudanca($event.target.files[0])">
  <button class="cadastrar" (click)="cadastroProduto()">cadastrar</button>
  </div>
</body>
</html>
