<body>
  <div id="header">
    <div id="rotas">
      <button (click)='irHome()' class="rota">home</button>
      <button (click)='irLoja()' class="rota">loja</button>
      <button class="rota" (click)='irPets()'>pets</button>
      <button (click)='irHorarios()' class="rota">marque um horário</button>
    </div>
  </div>

  <div id="nenhum" *ngIf="i <= 0">
    <p>nenhum produto cadastrado</p>
    <button class="btn" (click)="irLoja()">clique aqui para adicionar</button>
  </div>

  <div id="legal">
  <div id="produto">
    <div id="Produtos" *ngFor="let item of lista">
        <div id="prodInfo">
          <img class="prodImg" [src]=item.IMG>
          <div id="img"></div>
          <div class="preco">
            R${{item.PRECO}}
          </div>
          <div id="info">
            {{item.NOME}}
            <div id="buttons">
              <button id="comprar" (click)="comprar(item)">comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
