<body>
  <header id="header"></header>

  <div id="produtos">
    cadadastro de produtos:
    <input placeholder="nome" [(ngModel)]="nome">
    <input placeholder="preco" type="number" [(ngModel)]="preco">
    <input type="file" [(ngModel)]="img">
    <button (click)="cadastroProduto()">cadastrar</button>
  </div>

  <div *ngFor="let prod of lista">
    {{prod.nome}}   R${{prod.preco}}   <button (click)="add()">adicionar ao carrinho</button>
  </div>

  <div *ngFor="let item of lista">
    {{item.NOME}}
  </div>

</body>
