<body>
  <div id="header">
    <div id="rotas">
      <button (click)='irLoja()' class="rota">loja</button>
      <button (click)='irCarrinho()' class="rota">carrinho</button>
      <button class="rota" (click)='irPets()'>pets</button>
      <button (click)='irHorarios()' class="rota">marque um horário</button>
    </div>
    </div>

  <div *ngFor="let item of lista">
  <div id="prodInfo">
      <img class="prodImg" [src]=item.IMG>  
      <div id="img"></div>
      <div class="preco">
    R${{item.PRECO}} 
  </div>
      <div id="info">
  {{item.NOME}}
  <div id="buttons">
  <button id="add" (click)="add()">adicionar ao carrinho</button>
  <button id="comprar" (click)="comprar(item)">comprar</button>
</div>
</div>
  </div>
  </div>
<div id="divAdd">
  <button id="addItem" (click)="aaa()">adicionar um item</button>
</div>
</body>
