*{
    margin: 0;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffd000;
}

#inputs{
    display: grid;
}

#box{
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#login{
    padding: 5px;
    margin: 13px;
    border: none;
    background-color: transparent;
    border-bottom: rgb(255, 255, 255) 1px solid;
    outline: none;
    width: 290px;
    color: white;
    transition: 0.3s;
    font-size: 16px;
}

#login:hover{
    transition: 0.3s;
    border-bottom: #000000 1px solid;
}

#login:focus{
    transition: 0.3s;
    border-bottom: #000000 1px solid;
    color: #000000;
}

#login::placeholder{
    color: rgb(240, 240, 240);
}

#login1{
    padding: 5px;
    margin: 13px;
    border: none;
    background-color: transparent;
    border-bottom: white 1px solid;
    outline: none;
    width: 290px;
    color: white;
    transition: 0.3s;
    font-size: 16px;
}

#login1:hover{
    transition: 0.3s;
    border-bottom: #000000 1px solid;
}

#login1:focus{
    transition: 0.3s;
    border-bottom: #000000 1px solid;
    color: #000000;
}

#login1::placeholder{
    color: rgb(240, 240, 240);
}

#entrar{
    transition: 0.3s;
    width: 90px;
    height: 45px;
    margin-top: 13px;
    margin-left: 36%;
    font-size: 13px;
    border-radius: 3px;
    border: none;
    color: #ffcc24;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#entrar:hover{
    border-radius: 30px;
    transition: 0.5s;
    color: #ffc400;
    background-color: #000000;
    width: 300px;
    margin-left: 12px;
    cursor: pointer;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 44vh;
    font-weight: 900;
    font-size: 40px;
    color: black;
    padding-bottom: 3px;
    border-bottom: 1px black solid;
}

#iguana{
    position: fixed;
    margin-top: 35%;
    margin-left: 75%;
}

#logo{
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 40%;
    margin-right: 2vw;
    display: flex;
    font-weight: 700;
    font-size: 20px;
}

#conta{
    color: black;
    margin-top: 5%;
    margin-left: 23%;
}

#conta:hover{
    cursor: pointer;
    text-decoration: overline 1px;
}

#login:focus::placeholder{
    color: black;
    transition: 0.3s;
}

#login:hover::placeholder{
    color: black;
    transition: 0.3s;
}


#login1:focus::placeholder{
    color: black;
    transition: 0.3s;
}

#login1:hover::placeholder{
    color: black;
    transition: 0.3s;
}